main {
  width: 100%;
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: white;
  align-items: center;
  display: flex;
  padding: 0px 16px;
}
.navbar h2 {
  margin: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  margin: 40px 20px;
  overflow-y: auto;
  height: calc(100vh - 110px);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr th {
  background-color: rgb(221, 221, 221);
  font-weight: normal;
  text-align: left;
  padding: 4px 6px;
}

table tbody tr:hover {
  background-color: rgb(221, 221, 221);
}

table tbody tr td {
  padding: 4px 6px;
}

nav {
  display: flex;
  width: 240px;
  min-width: 240px;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  color: white;
  background-color: #2f4050;
}

nav a {
  text-decoration: none;
  gap: 10px;
  display: flex;
  align-items: center;
}

nav a:hover {
  background-color: #305375;
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.ReviewDialogTrigger {
  height: 34px;
  background-color: #0073ea;
  border-color: transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.DialogTrigger {
  height: 34px;
  width: 34px;
  background-color: #0073ea;
  border-color: transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: var(--shadow-6);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  min-width: 700px;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DialogContent:focus {
  outline: none;
}

.DialogContent form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.DialogContent form div {
  display: flex;
  height: 36px;
  align-items: center;
}
.DialogContent form div label {
  width: 100px;
}
.DialogContent form div input {
  height: 36px;
  border-radius: 4px;
  outline: none;
  padding: 0px 6px;
}
.DialogContent form div select {
  height: 36px;
  width: 400px;
  border-radius: 4px;
  outline: none;
  padding: 0px 6px;
}
.DialogContent form div textarea {
  width: 400px !important;
  border-radius: 4px;
  outline: none;
  padding: 10px;
}
.DialogContent form button {
  height: 36px;
  width: 400px;
  border-radius: 4px;
  outline: none;
  padding: 0px 6px;
  background-color: #0073ea;
  color: white;
  box-shadow: none;
  border-color: #0073ea;
  margin-top: 40px;
  cursor: pointer;
}

.editButton {
  background-color: #0073ea;
  fill: white;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
  fill: white;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logoutButton {
  background-color: #0073ea;
  fill: white;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.orderButton {
  background-color: #0073ea;
  fill: white;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  display: flex;
  height: 30px;
  width: 100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.orderButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.search {
  height: 40px;
  display: flex;
  align-items: center;
  width: 50%;
}

.search input {
  height: 34px;
  border-radius: 4px 0px 0px 4px;
  display: flex;
  padding: 0px 10px;
  background-color: #f3f3f3;
  border-color: transparent;
  width: 100%;
}
.search button {
  height: 34px;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  padding: 0px 10px;
  background-color: #f3f3f3;
  border-color: transparent;
  outline: none;
  box-shadow: none;
  align-items: center;
  cursor: pointer;
}

.empty-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.metrics {
  display: flex;
  justify-content: center;
  margin: 16px;
  gap: 10px;
}
.metrics .metric {
  background-color: white;
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
}

.authForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: auto;
}
.authForm div {
  display: flex;
  width: 400px;
  flex-direction: column;
}
.authForm div label {
  border-radius: 4px;
  outline: none;
  padding: 0px 6px;
}
.authForm div input {
  height: 36px;
  min-height: 36px;
  border-radius: 4px;
  outline: none;
  padding: 0px 6px;
}
.authForm button {
  height: 36px;
  width: 400px;
  border-radius: 4px;
  outline: none;
  padding: 0px 6px;
  background-color: #0073ea;
  color: white;
  box-shadow: none;
  border-color: #0073ea;
  margin-top: 40px;
  cursor: pointer;
}

.Product {
  background-color: white;
  height: 120px;
  border-radius: 4px;
  display: flex;
}
.Product .ProductBody {
  display: flex;
  padding: 0px 16px;
  justify-content: space-between;
  width: 100%;
}
.Product .ProductQuantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Product .ProductQuantity button {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
}
.Product .ProductBody .RestaurantName {
  color: gray;
}
